# =========================
# Visual Studio
# =========================
.vs/
bin/
Debug/
Release/

*.user
*.suo
*.pdb

# =========================
# SQL - Server
# =========================
*.bak
*.mdf
*.ldf

# =========================
# Secrets
# =========================
appsettings.json
*.config.user

# =========================
# OS Files
# =========================
Thumbs.db
.DS Store